<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Futsal Booking Form </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-1">
        <%= form_with(url: :booking_index , method: :post) do |f| %>
        <%= f.hidden_field :futsal_id %>

        <!-- <div class="m-2">
          <%= f.number_field :number_of_players, autofocus: true , class: "form-control p-2", placeholder: "No of Players"  %>
        </div> -->
        <div class="input-group date p-2" id="datetimepicker1" data-target-input="nearest">
          <span class="p-1">Date : </span>
          <%= f.date_field :book_date, class: "form-control datetimepicker-input", min: Date.today, max: Date.today + 7.days, data: {target: "#datatimepicker2"} %>
          <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
          </div>
        </div>
        <div class="input-group date p-2" id="datetimepicker1" data-target-input="nearest">
          <span class="p-1">Time : <%= @date_today%> </span>
          <div id="now_time"> 
          <%= f.select 'book_time', options_for_select(current_user.available_time), class: "form form-group form-control"%>
          </div>

          <div id="all_time">
          <%= f.select 'book_time', options_for_select(Booking.open_times.keys), class: "form form-group form-control"%>          
          </div>
          
          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">


          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Book",id: "book", class: "btn w-100 btn-primary"%>
      </div>
      <%end%>
    </div>
  </div>
</div>


</div>
</div>

<script type="text/javascript">

  document.querySelector('#all_time').style.display = 'block'
  document.querySelector('#now_time').style.display = 'none'

  buttons = document.querySelectorAll('.book');
  buttons.forEach(button => {
    button.addEventListener("click", function () {
      id = this.dataset.futsalId
      document.querySelector('#futsal_id').value = id
    })
  })
  today = new Date();
  date = today.getFullYear()+'-'+`${'0'+(today.getMonth()+1)}`.slice(-2)+'-'+`${'0'+today.getDate()}`.slice(-2);
  select_date = document.querySelector('#book_date');
  select_date.addEventListener("change", function(){
    if(this.value == date ) 
    {
      document.querySelector('#all_time').style.display = 'none'
      document.querySelector('#now_time').style.display = 'block'
    }
    else {
      document.querySelector('#all_time').style.display = 'block'
      document.querySelector('#now_time').style.display = 'none'
    }
  })

</script>