<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Futsal Booking Form </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-1">
        <%= form_with(url: :booking_index , method: :post) do |f| %>
        <%= f.hidden_field :futsal_id %>

        <!-- <div class="m-2">
          <%= f.number_field :number_of_players, autofocus: true , class: "form-control p-2", placeholder: "No of Players"  %>
        </div> -->
        <div class="input-group date p-2" id="datetimepicker1" data-target-input="nearest">
          <span class="p-1">Starts at : </span>
          <%= f.datetime_field :starts_at, class: "form-control datetimepicker-input", data: {target: "#datatimepicker2"} %>
          <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
          </div>
        </div>
        <div class="input-group date p-2" id="datetimepicker1" data-target-input="nearest">
          <span class="p-1">Ends at: </span>
          <%= f.datetime_field :ends_at, class: "form-control datetimepicker-input", data: {target: "#datatimepicker1"} %>
          <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= f.submit "Book",id: "book", class: "btn w-100 btn-primary"%>
      </div>
      <%end%>
    </div>
  </div>
</div>


</div>
</div>

<script type="text/javascript">
  buttons = document.querySelectorAll('.book');
    buttons.forEach(button => {
      button.addEventListener("click", function () {
        id = this.dataset.futsalId
        document.querySelector('#futsal_id').value = id
      })
    })
</script>