<div class="container">
  <h1 class="well text-center">My Profile</h1>
  <div class="col-lg-12 well">
    <div class="row d-flex justify-content-center">
      
<%= form_for :current_user, class: 'text-center' do |form| %>
  <% if current_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(current_user.errors.count, "error") %> prohibited this futsal from being saved:</h2>

      <ul>
        <% current_user.errors.each do |error| %>
          <li><%= current_user.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :id %>
  
  <div class="col-sm-6 form-group">
  <% if current_user.image.attached? %>
    <%= image_tag current_user.image , class: "avatar-img rounded-circle", style: "width: 200px; display: block" %>
  <% end %>
    <%= form.file_field :image, class: 'btn btn-primary-outline'%>
  </div>
  <div class="form-group">
    <%= form.text_field :email, autofocus: true , class: "fadeIn second form-control", placeholder: "Email Address" %>
  </div>
  <div class="row">
    <div class="col-sm-6 form-group">
    <%= form.text_field :fname, autofocus: true , class: "fadeIn second form-control", placeholder: "First Name" %>
    </div>
    <div class="col-sm-6 form-group">
      <%= form.text_field :lname, autofocus: true , class: "fadeIn second form-control", placeholder: "Last Name" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 form-group">
      <%= form.text_field :location, autofocus: true , class: "fadeIn second form-control", placeholder: "Your Location" %>
    </div>
    <div class="col-sm-6 form-group">
      <%= form.number_field :contact_no, autofocus: true , class: "fadeIn second form-control", placeholder: "98XXXXXXXXXX" %>
    </div>
  </div>
  
  <div class="form-group">
    <%= form.label :dob, "Date Of Birth"%>
    <%= form.date_select :dob, { start_year: 100.years.ago.year, end_year: Date.today.year, default: Date.today}, class: 'form-control d-inline col-2' %>
  </div>
    <%= form.submit "Update User Profile", :class => 'btn btn-lg col-12 btn-primary' %>
<% end %>


    </div>
  </div>
</div>
