<div class="col-md-4 offset-md-4 justify-content-center text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= image_tag("sportground.png", size: '200x200', alt: "logo") %>
  <h1 class="h3 mb-3 font-weight-normal">Log In</h1>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",id: "login" , class: "fadeIn second form-control", placeholder: "Your Email.." %>
  </div>
  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password", id: "password", class: "fadeIn third form-control", placeholder: "Password.."%>
  </div>
  <% if devise_mapping.rememberable? %>
  <div class="form-group">
    <div class="custom-control custom-checkbox ml-4">
      <%= f.check_box :remember_me , class: "custom-control-input col-6"%>
      <%= f.label :remember_me ,class: "custom-control-label col-6"%> 
    </div>
  </div>
  <% end %>
  <div class="field">
    <%= f.submit "Sign In" , class: "btn btn-lg btn-primary btn-block"%>
    <%end%>
    <%= render "devise/shared/links"%>
</div>


