<p id="notice"><%= notice %></p>

<h1>Futsals</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @futsals.each do |futsal| %>
      <tr>
        <td> 
          <% if futsal.image.attached? %>
            <%= image_tag futsal.image , style: "width: 200px; display: block" %>
          <% end %>
        </td>
        <td><%= futsal.name %></td>
        <td><%= futsal.location %></td>
        <td><%= link_to 'Show', futsal %></td>
        <td><%= link_to 'Edit', edit_futsal_path(futsal) %></td>
        <td><%= link_to 'Destroy', futsal, method: :delete, data: { confirm: 'Are you sure you want to delete?' ,  confirmButtonText: "Delete" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

