<p id="notice"><%= notice %></p>

<h1>Futsals</h1>
<div class="row m-10">
<% @futsals.each do |futsal| %>
<div class="col-sm-4">
<div class="card-group h-100">
  <div class="card">
  <% if futsal.image.attached? %>
   <%= image_tag futsal.image , class: "card-img-top",style: "height: 160px; width: 400px", alt: "No Image"%>
  <% end %>
    <div class="card-body p-1">
      <h5 class="card-title"><%= futsal.name.capitalize %></h5>
      <h6 class="card-title"><%= futsal.location.capitalize %></h6>
      <p class="card-text"><%= futsal.bio? ? truncate(futsal.bio).capitalize : "Our Informations..." %></p>
      <div class="card-footer">
        <% if current_user.fname == futsal.owner_name %>
        <%= link_to 'Show', futsal,class: "text-dark btn btn-lg" %> | <%= link_to 'Edit', edit_futsal_path(futsal),class: "text-primary btn btn-lg " %> | <%= link_to 'Destroy', futsal, method: :delete, data: { confirm: 'Are you sure you want to delete?' ,  confirmButtonText: "Delete" },class: "btn btn-lg text-danger" %>
        <% else %>
        <%= link_to 'View More', futsal, class: "btn btn-lg btn-secondary text-white mt-2" %> 
        <%= link_to 'Book Now', futsal, class: "btn btn-lg btn-primary text-white mt-2" %> 
        <% end %>
      </div>
  
    </div>
  </div>
  </div>
  </div>
  <% end %>
</div>
