<div class="row sticky-top bg-light">
<div class="col col-3">
<h1>Most Popular</h1>
</div>
<div class="col col-6 p-2">
  <%= form_with(url: :futsals , method: :get, class: "form-inline my-2 my-lg-0") do |f| %>
  <!-- <form class="form-inline my-2 my-lg-0"> -->
    <%= f.text_field :name, class: "form-control mr-sm-2", placeholder: "Search by Name of Futsal" %>
    <%= f.text_field :location, class: "form-control mr-sm-2", placeholder: "Search by Location" %>
    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search by Location"> -->
    <%= f.submit "Search", class: "btn btn-outline-success my-2 my-sm-0"%>
    <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
  <!-- </form> -->
  <% end %>
</div>
<hr class="featurette-divider">
</div>
<div class="row">
  <% if @futsals.empty? %>
  <div class="col col-12">  
  <p class="text-center p-5"> No Futsal found!!</p>
  </div>
  <% else %>
  <% @futsals.each do |futsal| %>
  <div class="col-sm-4 my-2">
    <div class="card-group h-100">
      <div class="card">
        <%= image_tag futsal&.profile_picture_url , class: "card-img-top",style: "object-fit: cover; height: 180px;", alt: "No Image"%>
        <div class="card-body p-1">
          <h5 class="card-title"><%= futsal.name.capitalize %></h5>
          <h6 class="card-title"><%= futsal.location.capitalize %></h6>
          <p class="card-text">Rs. <%= futsal.price_per_hour %></p>
          <div class="card-footer">
            <% if current_user.fname == futsal.owner_name %>
              <%= link_to 'Show', futsal,class: "text-dark bg-light btn btn-sm float-left" %> 
              <%= link_to 'Edit', edit_futsal_path(futsal),class: "text-primary bg-light btn btn-sm float-left .bg-transparent" %> 
              <%= button_to 'Destroy', futsal_path(futsal), method: :delete, data: { confirm: 'Are you sure you want to delete?' ,  confirmButtonText: "Delete" }, class: "btn btn-sm text-danger m-0" %>
            <% else %>
              <%= link_to 'View More', futsal, class: "btn btn-lg btn-secondary text-white mt-2 float-left mr-2" %>
              <!-- Button trigger modal -->
                <%if futsal&.bookings.present? %>
                <%= button_to "Cancel Booking", futsal&.bookings.first, method: :delete, data: { confirm: "Are you sure?"},  class: "btn btn-danger text-white mt-2" %>

              <% else %>
                <button type="button" id="book-futsal" class="btn btn-lg btn-primary text-white mt-2 book"
                  data-futsal-id="<%= futsal.id%>" data-toggle="modal" data-target="#exampleModalCenter">
                  Book Now<span class="fa"></span>
                </button>
              <%end%>

              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <% end %>
</div>
<%= render "modal/modal_book"%>