<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @futsal.name %>
</p>

<p>
  <strong>Location:</strong>
  <%= @futsal.location %>
</p>

<%= link_to 'Edit', edit_futsal_path(@futsal) %> |
<%= link_to 'Back', futsals_path %>
