     <main role="main">
       <div class="container marketing">

         <!-- Three columns of text below the carousel -->
         <h2 class="text-center">About Us</h2>
         <div class="row p-3">
           <div class="col-lg-4 text-center">
             <%= image_tag "dipendra.jpg", class: "rounded-circle", alt: "#{current_user.fname}", width: "140", height: "140"%>
             <h2>Dipendra Jung karki</h2>
             <p class="text-justify">I am an IT student with seeking challenging and career-oriented employment in a growing and reputed
               organization providing the opportunity to be part of orginazational growth with use of tools and
               technology. Motivated developer trained in different programming aspect with a long period of experience
               in many fields. Highly effective at work. Exceptional interpersonal, communication and multitasking
               abilities. Prepared to deliver first rate results to any task provided.</p>
             <p><a class="btn btn-secondary text-white" href="http://dipendrajungkarki.com.np/" role="button">View
                 details &raquo;</a></p>
           </div><!-- /.col-lg-4 -->
           <div class="col-lg-4 text-center">
             <%= image_tag "binaya.jpg", class: "rounded-circle", alt: "#{current_user.fname}", width: "140", height: "140"%>
             <h2>Binaya Sharma</h2>
             <p class="text-justify">I am an IT student with seeking challenging and career-oriented employment in a growing and reputed
               organization providing the opportunity to be part of orginazational growth with use of tools and
               technology. Motivated developer trained in different programming aspect with a long period of experience
               in many fields. Highly effective at work. Exceptional interpersonal, communication and multitasking
               abilities. Prepared to deliver first rate results to any task provided.</p>
             <p><a class="btn btn-secondary text-white" href="http://dipendrajungkarki.com.np/" role="button">View
                 details &raquo;</a></p>
           </div><!-- /.col-lg-4 -->
           <div class="col-lg-4 text-center">
             <%= image_tag "samip.jpg", class: "rounded-circle", alt: "#{current_user.fname}", width: "140", height: "140"%>
             <h2>Samip Banjara</h2>
             <p class="text-justify">I am an IT student with seeking challenging and career-oriented employment in a growing and reputed
               organization providing the opportunity to be part of orginazational growth with use of tools and
               technology. Motivated developer trained in different programming aspect with a long period of experience
               in many fields. Highly effective at work. Exceptional interpersonal, communication and multitasking
               abilities. Prepared to deliver first rate results to any task provided.</p>
             <p><a class="btn btn-secondary text-white" href="http://dipendrajungkarki.com.np/" role="button">View
                 details &raquo;</a></p>
           </div><!-- /.col-lg-4 -->
         </div><!-- /.row -->


         <!-- START THE FEATURETTES -->

         <hr class="featurette-divider">

         <div class="row featurette">
           <div class="col-md-7">
             <h3 class="featurette-heading">Futasl Booking System.</h3>
             <blockquote class="text-muted">Book Futsak from Anywhere.</blockquote>
             <p class="lead">Now we are here to serve with the amazing sevice to provide you the easy futsal booking
               system online. This is the web based application and can be accessed from anywhere you are connected
               with interner.We provide you the best way to book the futsal system.</p>
           </div>
           <div class="col-md-5">
             <a class="navbar-brand"
               href="<%= root_path %>"><%= image_tag("logo_transparent.png", size: '400x200', alt: "logo") %></a>
           </div>
         </div>

         <hr class="featurette-divider">

     </main>